include ./header.jade

div(class="home") <div class="home"></div>


    div(class="container-fluid")
            
        a(href="/property_analysis" class="main_nav left") 
            div(class="title") New Property Analysis
            div(class="image new_property")
                div(class="description") Create a new property record for analysis.
        span(class="main_nav_spacer")
        a(href="/browse_properties" class="main_nav right") 
            div(class="title") Browse Properties
            div(class="image existing_property")
                div(class="description") Search existing property records and completed analyses.
            
include ./footer.jade                        